{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Authorized applications" %}{% endblock title %}

{% block content %}
    <h1>
        <a href="{% url 'accounts:home' %}"><img class="logo-breadcrumb" src="{% static "img/logo-icon.svg" %}" alt="Audio Commons Logo"></a>
        <span class="breadcrumb-separator">|</span> Authorized applications
    </h1>

    <ul class="table">
    {% for authorized_token in authorized_tokens %}
        <li>
            {{ authorized_token.application }}
            <div class="pull-right"><a class="btn btn-danger" href="{% url 'accounts:authorized-token-delete' authorized_token.pk %}">Revoke</a></div>
        </li>
        <ul>
        {% for scope_name, scope_description in authorized_token.scopes.items %}
            <li>{{ scope_name }}: {{ scope_description }}</li>
        {% endfor %}
        </ul>
    {% empty %}
        <li>{% trans "No applications have been authorized yet" %}</li>
    {% endfor %}
    </ul>
    <br><br>
    <p><a href="{% url 'accounts:home' %}">Back</a></p>
{% endblock %}
