{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Home</h1>
    Users
    <ul>
        <li><a href="{% url 'link_services' %}">Link services</a></li>
        <li><a href="{% url 'authorized-token-list' %}">Authorized clients</a></li>
    </ul>
    Developers
    <ul>
        <li><a href="{% url 'developers-app-list' %}">API Clients</a></li>
        <li><a href="{% url 'docs_root' %}" target="_blank">Documentation</a></li>
    </ul>
    Test services
    <ul>
    {% for service in services %}
        <li><a href="{% url "test_service" service.id %}">{{ service.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
