{% extends "base.html" %}
{% block title %}Link Services{% endblock title %}

{% block content %}
    <h1>Link services</h1>

    <ul>
    {% for service, user_credentials in services_info %}
        <li style="margin-bottom:5px;">
            {{ service.name }} ({{ service.url }})
            {% if user_credentials %}
                <a class="btn btn-danger"
                   href="{% url "unlink_service" service.id %}"
                >unlink</a>
            {% else %}
                <button class="btn btn-success"
                        onclick="window.open('{{ service.get_authorize_url }}',
                                             '{{ service.name }} authorization',
                                             '{{ service.get_authorize_popup_specs }}')"
                >link</button>
            {% endif %}
        </li>
    {% empty %}
        <li>No services available</li>
    {% endfor %}
    </ul>

    <br><a href="{% url 'home' %}">Home</a>
{% endblock %}
