{% extends "base.html" %}
{% block title %}Link Service accounts{% endblock title %}

{% block content %}
    <script>
    function openServiceAuthPopup(url, name, popupSpecs) {
        var popupWin = window.open(url, name, popupSpecs);
        var timer = setInterval(function() {
            if(popupWin.closed) {
                clearInterval(timer);
                window.location.reload();
            }
        }, 200);
    }
    </script>

    <h1>Link service accounts</h1>

    <b>Linkable services</b>
    <ul>
    {% for service, user_credentials in linkable_services_info %}
        <li style="margin-bottom:5px;">
            {{ service.name }} ({{ service.url }})
            {% if user_credentials %}
                <a class="btn btn-danger"
                   href="{% url "unlink_service" service.id %}"
                >unlink</a>
            {% else %}
                <button class="btn btn-success"
                        onclick="openServiceAuthPopup('{{ service.get_authorize_url }}',
                                                      '{{ service.name }} authorization',
                                                      '{{ service.get_authorize_popup_specs }}')"
                >link</button>
            {% endif %}
        </li>
    {% empty %}
        <li>No services available</li>
    {% endfor %}
    </ul>

    <b>Non Linkable services</b>
    <ul>
    {% for service in non_linkable_services_info %}
        <li>
            {{ service.name }} ({{ service.url }})
        </li>
    {% empty %}
        <li>No services available</li>
    {% endfor %}
    </ul>

    <br><a href="{% url 'home' %}">Home</a>
{% endblock %}
