{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; Monitor
</div>
{% endblock %}

{% block content %}
<h1>Monitor</h1>

<h2>Redis</h2>
<p>
    To monitor celery state please use the <a href="/redmon/" target="_blank">Redmon interface</a>.
    <br>If asked for user and password in a development environment, use user <b>{{ redmon_auth.0 }}</b> and password <b>{{ redmon_auth.1 }}</b>.
</p>


<br>
<h2>Celery</h2>
<p>
    To monitor celery state please use the <a href="/flower/" target="_blank">Flower interface</a>.
    <br>If asked for user and password in a development environment, use user <b>{{ flower_auth.0 }}</b> and password <b>{{ flower_auth.1 }}</b>.
</p>

{% endblock %}
