{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Test service {{ service.name }}{% endblock title %}
{% block content %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            testComponent('text_search');
            testComponent('licensing');
        }, false);

        function testComponent(component_name) {
            var html_element = document.getElementById("test_" + component_name);
            getJSON('{% url "test_service_component" service.id %}?component=' + component_name).then(
                function(xhr) { // Success (status = 200)
                    if (xhr.response.status === 'OK') {
                        html_element.innerHTML = '<i class="fa fa-check" style="color:green;" aria-hidden="true"> ' + xhr.status + '</i><br><pre class="json_output">' + JSON.stringify(xhr.response.response, null, 4) + '</pre>';
                    } else if (xhr.response.status == 'FA'){
                        html_element.innerHTML = '<i class="fa fa-times" style="color:red;" aria-hidden="true"> ' + xhr.status + '</i><br><pre class="json_output">' + JSON.stringify(xhr.response, null, 4) + '</pre>';
                    } else {
                        html_element.innerHTML = xhr.response.message;
                    }
                },
                function(xhr) { // Error
                    html_element.innerHTML = xhr.status + ' ' + xhr.statusText;
                }
            );
        }
    </script>

    <h1>Test service</h1>
    <h2>{{ service.name }}</h2>


    <h3>Text search</h3>
    <div class="test_box" id="test_text_search">
        <img class="spinner" src="{% static "img/logo-icon.svg" %}" alt="">
    </div>

    <h3>Licensing</h3>
    <div class="test_box" id="test_licensing">
        <img class="spinner" src="{% static "img/logo-icon.svg" %}" alt="">
    </div>



    <br><a href="{% url 'home' %}">Home</a>
{% endblock %}
