{% extends "base.html" %}
{% load i18n %}
{% block title %}Manage API Clients{% endblock title %}
{% block content %}

    <h1>Manage API Clients</h1>
    {% if applications %}
        <ul>
            {% for application in applications %}
                <li><a href="{{ application.get_absolute_url }}">{{ application.name }}</a> -
                    <a href="{% url 'developers-app-monitor' application.id %}">monitor</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <a class="btn btn-success" href="{% url "developers-app-register" %}">New API Client</a>
    <br><br>
    <p><a href="{% url 'home' %}">Home</a></p>

{% endblock content %}