{% extends "base.html" %}

{% load i18n %}
{% load url from compat %}
{% block content %}
    <form class="form-horizontal" method="post" action="{% block app-form-action-url %}{% url 'developers-app-update' application.id %}{% endblock app-form-action-url %}">
        <h1>
            {% block app-form-title %}
                {% trans "Edit application" %} {{ application.name }}
            {% endblock app-form-title %}
        </h1>
        {% csrf_token %}

        {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                <div class="controls">
                    {% if not field.field.is_checkbox and field.help_text %}{{ field.help_text }}<br>{% endif %}
                    {{ field }}
                    {% if field.field.is_checkbox and field.help_text %}{{ field.help_text }}{% endif %}
                    <br>
                    {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="control-group {% if form.non_field_errors %}error{% endif %}">
            {% for error in form.non_field_errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
        <br>
        <div class="control-group">
            <div class="controls">
                <a class="btn" href="{% block app-form-back-url %}{% url "developers-app-detail" application.id %}{% endblock app-form-back-url %}">
                    {% trans "Go Back" %}
                </a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
{% endblock %}